In [1]:
%config Completer.use_jedi = False
import pandas as pd
import re
import collections

In [2]:
ptn_list = [
    re.compile(r'[-_0-9a-z]+@[-_0-9a-z]+(?:\.[0-9a-z]+)+', flags=re.IGNORECASE),
    re.compile(r'(?:https?:\/\/)?[-_0-9a-z]+(?:\.[-_0-9a-z]+)+', flags=re.IGNORECASE),
    re.compile(r'\.([^\.]*(?:기자|특파원|교수|작가|대표|논설|고문|주필|부문장|팀장|장관|원장|연구원|이사장|위원|실장|차장|부장|에세이|화백|사설|소장|단장|과장|기획자|큐레이터|저작권|평론가|©|©|ⓒ|\@|\/|=|▶|무단|전재|재배포|금지|\[|\]|\(\))[^\.]*)$'),
    re.compile('[a-zA-Z가-힣]+ ?뉴스|뉴스+[a-zA-Z가-힣0-9]+ ?|[a-zA-Z가-힣]+newskr|[a-zA-Z가-힣]+ ?Copyrights'),
    re.compile('\s+Copyrights|\s+배포 ?금지'),
    re.compile('[a-zA-Z가-힣]+com|[a-zA-Z가-힣]+.kr'),
    re.compile('[가-힣]+ ?기자|[가-힣]+ ?신문|[가-힣]+투데이|[가-힣]+미디어|[가-힣]+ ?데일리|[가-힣]+ 콘텐츠 무단|[가-힣]+ ?전재|[가-힣]+배포 ?금지'),
    re.compile('데일리+[가-힣]'),
    re.compile(r'전재\s+변형'),
    re.compile('\s+배포 ?금지'),
    re.compile('[a-zA-Z가-힣]+.kr'),
    re.compile('/^[a-z0-9_+.-]+@([a-z0-9-]+\.)+[a-z0-9]{2,4}$/'),
    re.compile('[\r|\n]'),
    re.compile('\[[^)]*\]'),
    re.compile('[^ ㄱ-ㅣ가-힣A-Za-z0-9]'),
    re.compile('뉴스코리아|및|Copyright|저작권자|ZDNET A RED VENTURES COMPANY'),
    re.compile('\([^)]*\)'),
    re.compile('[-=+,#\?:^$@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》·▲\n]'),
    re.compile(r"[\s]{2,}"),
    re.compile(r'/+[a-zA-Z가-힣]'),
]

def processing(content):
    
    pattern_bracket = re.compile(r'^((?:\[.+\])|(?:【.+】)|(?:<.+>)|(?:◆.+◆)\t)')
    result = str(content)
    for i, ptn in enumerate(ptn_list):
        result = ptn.sub('.' if i == 2 else "", result)
        result = pattern_bracket.sub('', result).strip()
    return result

In [3]:
def replacing(category):
    labels=['인공지능', '로봇', '스마트팜', '에너지', '서버', '투자', '정부지원', '증강현실', '이동수단', '개발', '통신', '과학', '드론', '블록체인', '핀테크', '커머스', '여행', '미디어', '헬스케어', '의약', '식품', '교육', '직업', '경제', '광고', '제약', 'O2O', '뷰티', '부동산', 'etc']
    k_i_dict = {k: i for i, k in enumerate(labels)}
    # 인공지능:0, 로봇:1
    
    result = [k_i_dict[k.strip()] for k in category.split(';') if k.strip()]
#     result = [
#         (
#             l.replace('핀테트','핀테크')
#             .replace('etce', 'etc')
#             .replace('ete', 'etc')
#             .replace('et', 'etc')
#             .replace('etcc', 'etc')
#             .replace('c', 'etc')
#             .replace('etetc', 'etc')
#             .replace('etctetc', 'etc'))
#         for l in result
#     ]
#     result = [list(set(l)) for l in result]
#     result = [l if len(l) == 1 else [i for i in l if i != k_i_dict['etc']] for l in result]
    return result
    #return ", ".join(result)

In [4]:
data = pd.read_csv('/home/jh/documents/datasets/news_category.csv', sep=',')
data.count()

Unnamed: 0    198582
category      198582
content       198582
dtype: int64

In [5]:
data.head()

   Unnamed: 0     category                                            content
0           0         [19]  서울박정호 SKT 대표이사가 25일 서울 중구 을지로 SKT타워에서 열린 SK텔레콤...
1           1       [4, 9]  네오위즈공동대표 문지수 김승철의 신작 게임 블레스 언리쉬드 PC에 대한 글로벌 이용...
2           3         [10]  김창룡 방송통신위원회 상임위원이 온라인 동영상 서비스OTT 웨이브를 방문해 국내 O...
3           5  [10, 0, 11]  문재인 대통령이 14일 오전 청와대에서 임혜숙 과학기술정보통신부 장관에게 임명장을 ...
4           6         [16]  미국 뉴욕 전경최소 모집정원 1명짜리 파격 해외 패키지여행 상품이 등장했다최소 15...

In [6]:
# def replace2(sp):    
#     print(sp)
#     result = [
#         (
#             l.replace(' 블록체인', '블록체인')
#             for l in sp
#         )
#     ]
#     return result

# def replace3(sp):    
    
#     result = [
#         (
#             l.replace('et','etc').replace('etc','')
#             for l in sp
#         )
#     ]
#     return result

# def replace4(sp):    
    
#     result = [
#         (
#             l.replace(' etc','etc').replace('etce', 'etc').replace('ete' , 'etc').replace('etc','')
#             for l in sp
#         )
#     ]
#     return result

In [6]:
data = data.dropna()

In [7]:
data.count()

Unnamed: 0    198582
category      198582
content       198582
dtype: int64

In [8]:
data.head()

   Unnamed: 0     category                                            content
0           0         [19]  서울박정호 SKT 대표이사가 25일 서울 중구 을지로 SKT타워에서 열린 SK텔레콤...
1           1       [4, 9]  네오위즈공동대표 문지수 김승철의 신작 게임 블레스 언리쉬드 PC에 대한 글로벌 이용...
2           3         [10]  김창룡 방송통신위원회 상임위원이 온라인 동영상 서비스OTT 웨이브를 방문해 국내 O...
3           5  [10, 0, 11]  문재인 대통령이 14일 오전 청와대에서 임혜숙 과학기술정보통신부 장관에게 임명장을 ...
4           6         [16]  미국 뉴욕 전경최소 모집정원 1명짜리 파격 해외 패키지여행 상품이 등장했다최소 15...

In [27]:
# ['과학', '에너지', 'etc'] +['개발', '경제', '광고']

In [9]:
# # 건수 체크
# grp_list = data.category.apply(lambda x: [i.strip() for i in x.split(';')]).tolist()
# grp_list = sum(grp_list, [])

# labels=['인공지능', '로봇', '스마트팜', '에너지', '서버', '투자', '정부지원', '증강현실', '이동수단', '개발', '통신', '과학', '드론', '블록체인', '핀테크', '커머스', '여행', '미디어', '헬스케어', '의약', '식품', '교육', '직업', '경제', '광고', '제약', 'O2O', '뷰티', '부동산', 'etc']


# for i in labels: 
#     a = grp_list.count(i)
    
#     tot = i + " : " + str(a)
#     print(tot)

인공지능 : 0
로봇 : 0
스마트팜 : 0
에너지 : 0
서버 : 0
투자 : 0
정부지원 : 0
증강현실 : 0
이동수단 : 0
개발 : 0
통신 : 0
과학 : 0
드론 : 0
블록체인 : 0
핀테크 : 0
커머스 : 0
여행 : 0
미디어 : 0
헬스케어 : 0
의약 : 0
식품 : 0
교육 : 0
직업 : 0
경제 : 0
광고 : 0
제약 : 0
O2O : 0
뷰티 : 0
부동산 : 0
etc : 0

In [29]:
data.head()

                                             content       category
0  \n\n\n[KBS 울산]\n[앵커]\n4차 산업에 필수 소재가 되는 ‘희토류’를 ...   과학; 에너지; etc
1  \n\n\n[아이뉴스24 안희권 기자]최근 열린 미국의회 청문회에서 몇몇 앱개발사가...     개발; 경제; 광고
2  \n\n\n(서울=뉴스1) 이창규 기자 = ■ 서효원씨 별세, 서동면(에스원 커뮤니...  etc; etc; etc
3  \n\n\n(서울=뉴스1) 이기범 기자,김정현 기자 = 비트코인 등 암호화폐 시장이...   경제; 블록체인; 투자
4  \n\n\n(지디넷코리아=차재서  기자)웰컴저축은행은 꿈테크 프로젝트 '런포드림' ...    광고; 미디어; 경제

In [10]:
# 정규표현식
data['content'] = data.content.apply(processing)

In [20]:
data['category'] = data.category.apply(lambda x: ';'.join([i.strip() for i in x.split(';')]))

# 오타 처리
data['category'] = data.category.str.replace('핀테트','핀테크')
data['category'] = data.category.str.replace('etce', 'etc')
data['category'] = data.category.str.replace('ete', 'etc')
data['category'] = data.category.str.replace('et', 'etc')
data['category'] = data.category.str.replace('etcc', 'etc')
data['category'] = data.category.str.replace('c', 'etc')
data['category'] = data.category.str.replace('etetc', 'etc')
data['category'] = data.category.str.replace('etctetc', 'etc')
data['category'] = data.category.str.replace('', 'etc')
data['category'] = data.category.str.replace('  ', 'etc')
data['category'] = data.category.str.replace(' 블록체인', '블록체인')
data['category'] = data.category.str.replace(' etc', 'etc')
data['category'] = data.category.str.replace('; ', ';')

# 데이터 확인
# data['sp1'] = data.category.str.split(';').str[0]
# data['sp2'] = data.category.str.split(';').str[1]
# data['sp3'] = data.category.str.split(';').str[2]

# data=data[{'category', 'sp1', 'sp2', 'sp3'}]
# print("sp1")
# print(data.sp1.value_counts())
# print("----------------------")
# print("sp2")
# print(data.sp2.value_counts())
# print("----------------------")
# print("sp3")
# print(data.sp3.value_counts())
# print("----------------------")


# onehotcoding 처리
#data['category'] = data['category'].apply(replacing)
#data['gitbalcategory'] = data.gitbalcategory.apply(replacing)

In [12]:
data.head()

   Unnamed: 0     category                                            content
0           0         [19]  서울박정호 SKT 대표이사가 25일 서울 중구 을지로 SKT타워에서 열린 SK텔레콤...
1           1       [4, 9]  네오위즈공동대표 문지수 김승철의 신작 게임 블레스 언리쉬드 PC에 대한 글로벌 이용...
2           3         [10]  김창룡 방송통신위원회 상임위원이 온라인 동영상 서비스OTT 웨이브를 방문해 국내 O...
3           5  [10, 0, 11]  문재인 대통령이 14일 오전 청와대에서 임혜숙 과학기술정보통신부 장관에게 임명장을 ...
4           6         [16]  미국 뉴욕 전경최소 모집정원 1명짜리 파격 해외 패키지여행 상품이 등장했다최소 15...

In [34]:
# 데이터 확인
data['sp1'] = data.category.str.split(';').str[0]
data['sp2'] = data.category.str.split(';').str[1].replace('etc','')
data['sp3'] = data.category.str.split(';').str[2].replace('etc','')

data=data[{'content','category', 'sp1', 'sp2', 'sp3'}]
print("sp1")
print(data.sp1.value_counts())
print("----------------------")
print("sp2")
print(data.sp2.value_counts())
print("----------------------")
print("sp3")
print(data.sp3.value_counts())
print("----------------------")


data['category']=data[['sp1', 'sp2', 'sp3']].apply(lambda x: ';'.join([i for i in x if i]), axis=1)

# onehotcoding 처리
data['category'] = data['category'].apply(replacing)

sp1
etc     135
개발      129
인공지능     84
정부지원     60
광고       53
부동산      50
서버       45
미디어      43
스마트팜     43
드론       42
헬스케어     41
로봇       39
식품       38
뷰티       37
핀테크      33
여행       33
O2O      30
블록체인     27
에너지      26
이동수단     26
증강현실     25
과학       25
제약       23
커머스      21
경제       19
통신       18
의약       12
직업        9
투자        6
교육        6
Name: sp1, dtype: int64
----------------------
sp2
        739
경제       73
직업       68
개발       53
인공지능     51
교육       33
미디어      29
의약       17
헬스케어     14
에너지      10
과학        9
식품        9
핀테크       8
이동수단      7
블록체인      7
커머스       7
부동산       6
드론        6
증강현실      6
통신        6
제약        6
뷰티        4
광고        3
투자        3
로봇        2
서버        1
여행        1
Name: sp2, dtype: int64
----------------------
sp3
        1082
투자        32
직업        13
드론        13
개발         7
통신         6
의약         5
경제         5
이동수단       4
로봇         2
커머스        2
광고         2
미디어        2
제약         1
인공지능       1
교육         1
Name: sp3, dtype: int64
----------------------

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
data

,category,content,sp3,sp2,sp1
0,"[11, 3]",열과 전기가 잘 통해 산업계의 금으로 불리는 희귀 광물인 희토류영구자석 형태로 전기...,,에너지,과학
1,"[9, 23, 24]",최근 열린 미국의회 청문회에서 몇몇 앱개발사가 애플과 구글은 플랫폼 영향력 측면에서...,광고,경제,개발
2,[29],서효원씨 별세 서동면 서동윤 서동신씨 부친상 김은미씨 시부상 김성덕씨 장인상...,,,etc
3,"[23, 13, 5]",비트코인 등 암호화폐 시장이 급락하면서 투자자들이 패닉 상태에 빠졌다 국내 주...,투자,블록체인,경제
4,"[24, 17, 23]",웰컴저축은행은 꿈테크 프로젝트 런포드림 영상이 세계 대 국제 광고제인 클리오 어워즈...,경제,미디어,광고
...,...,...,...,...,...
1197,[10],퀄컴이 분기 실적 호조를 이어갔다 코로나가 종식되지 않았지만 스마트폰 시장은 예년...,,,통신
1198,[10],아파트 각 가정에 인터넷을 연결해주는 통신 장비입니다 알파벳 U 표시는 이 장비가...,,,통신
1199,[26],이번 주에도 유통식음료 업계는 큰 사건이 없었습니다 지난주 남양유업 사태와 같은 빅...,,,O2O
1201,[26],콘텐츠 커뮤니케이션 기업 유에이와 뉴미디어 컨텐츠 제작기업 비엠미디어가 전통시장의 ...,,,O2O
1202,[26],GS홈쇼핑은 년 분기 조억원의 취급액을 기록해 전년 동기 대비 증가했다고 밝혔다 ...,,,O2O

In [15]:
df = pd.DataFrame(data)

In [16]:
df.to_csv('/home/jh/documents/datasets/git_category.csv')

In [17]:
import json

def dump_jsonl(data, output_path, append=False):
    """
    Write list of objects to a JSON lines file.
    """
    mode = 'a+' if append else 'w'
    with open(output_path, mode, encoding='utf-8') as f:
        for line in data:
            json_record = json.dumps(line, ensure_ascii=False)
            f.write(json_record + '\n')
    print('Wrote {} records to {}'.format(len(data), output_path))

def load_jsonl(input_path) -> list:
    """
    Read list of objects from a JSON lines file.
    """
    data = []
    with open(input_path, 'r', encoding='utf-8') as f:
        for line in f:
            data.append(json.loads(line.rstrip('\n|\r')))
    print('Loaded {} records from {}'.format(len(data), input_path))
    return data

In [18]:
temp_dict = [
    {"content": row['content'].strip(), "category": row['category']}
    for _, row in df.iterrows()
]

temp_dict[0]

{'content': '서울박정호 SKT 대표이사가 25일 서울 중구 을지로 SKT타워에서 열린 SK텔레콤 제37기 정기 주주총회에 참석하고 있다SK텔레콤이 주주가치 제고를 위해 한국거래소에 자사주 869만주 소각을 반영한 변경상장을 완료했다고 14일 밝혔다 발행주식 총수의약 2조6000억원규모다 이로써 전날 기준 SK텔레콤의 발행주식 총수는 기존 8075만주에서 7206만주로 줄어들었다앞서 SK텔레콤은 지난 4일 올해 인적분할에 앞서 기업가치주주가치 제고를 위해 기존 자사주를 사실상 전량 소각한다고 발표한 바 있다 이번 자사주 소각으로 발행주식 총수가 감소하면서 기존 주주들의 지분율이 모두 상승했다SK텔레콤은 분할 후 기업가치가 올라갈 것으로 전망하는 증권업계 전반의 시각을 감안하면 기업 펀더멘털 변동없이 주식 수만 줄어든 상황이라며 자사주 소각 전보다 주식가치 상승 여력이 더 커졌다고 분석했다SK텔레콤은 발행주식 총수가 줄었음에도 전날 시가총액이 약 22조5000억원을 기록해 주주총회에서 기업구조인적분할 개편을 공식화했던 지난 3월25일 시가총액약 20조5000억원보다 10가량 늘었다고 설명했다 주가도 연초 대비 30 이상 상승했다고 덧붙였다한편 SK텔레콤은 상반기 내 이사회 의결을 거쳐 오는 10월 주주총회 11월 인적분할 법인의 재상장을 통해 인적분할 절차를 끝낼 계획이다',
 'category': '[19]'}

In [19]:
# df.to_json('/home/shpark/news_scraper/model/data/git_category.csv')
!rm -rf /workspace/data/git_category.json
dump_jsonl(temp_dict, '/home/jh/documents/datasets/git_category.json')

Wrote 198582 records to /home/jh/documents/datasets/git_category.json